---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@/components/Navbar.astro";
import Hero from "@/components/Hero.astro";
import HomeSections from "@/components/HomeSections.astro";
---

<Layout>
  <main class="relative">
    <Navbar />
    <Hero />
    <HomeSections />
    {/*
      Próximas secciones (a construir en pasos siguientes):
      <Services id="servicios" />
      <Projects id="proyectos" />
      <Contact  id="contacto"  />
      <Footer />
    */}
  </main>
</Layout>
