<div class="ax-sparkle-field pointer-events-none absolute inset-x-0 top-0 -z-[1] min-h-full overflow-hidden" aria-hidden="true">
  <span class="ax-sparkle ax-sparkle-lg left-[12%] top-[10%]"></span>
  <span class="ax-sparkle ax-sparkle-md left-[28%] top-[18%]"></span>
  <span class="ax-sparkle ax-sparkle-sm left-[58%] top-[9%]"></span>
  <span class="ax-sparkle ax-sparkle-md left-[82%] top-[16%]"></span>
  <span class="ax-sparkle ax-sparkle-sm left-[72%] top-[31%]"></span>
  <span class="ax-sparkle ax-sparkle-lg left-[18%] top-[39%]"></span>
  <span class="ax-sparkle ax-sparkle-sm left-[44%] top-[47%]"></span>
  <span class="ax-sparkle ax-sparkle-md left-[90%] top-[51%]"></span>
  <span class="ax-sparkle ax-sparkle-sm left-[8%] top-[64%]"></span>
  <span class="ax-sparkle ax-sparkle-md left-[24%] top-[72%]"></span>
  <span class="ax-sparkle ax-sparkle-lg left-[62%] top-[78%]"></span>
  <span class="ax-sparkle ax-sparkle-sm left-[86%] top-[88%]"></span>
</div>
