---
interface Props {
  class?: string;
  imageClass?: string;
}

const {
  class: className = "h-10 w-10",
  imageClass = "h-[78%] w-[78%]",
} = Astro.props;
---

<span
  class:list={[
    "relative inline-flex items-center justify-center overflow-hidden rounded-xl bg-ax-blue/60 ring-1 ring-ax-gold/45 shadow-goldGlow",
    className,
  ]}
>
  <img
    src="/logo-ax.png"
    alt="Agencia AX"
    width="512"
    height="512"
    loading="eager"
    decoding="async"
    class:list={["object-contain", imageClass]}
  />
</span>
